.container {
  width: 300px;
  margin: auto;
  margin-top: 3rem;
  box-shadow: 5px 5px 20px gray;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #fff;
}
.item-form {
  border: gray 1px solid;
  border-radius: 1rem;
  padding: 0.5rem;
}
.item-form > span {
  font-size: 0.7rem;
}
#itemInput {
  border: none;
  line-height: 2rem;
}
.item-list {
  border: gray 1px solid;
  border-radius: 1rem;
  padding: 0.5rem;
}
#itemQuantity {
  width: 2rem;
}
